body{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 95%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.weatherForm{
    margin: 20px;
    display: flex;
}
.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}
button[type="submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: rgb(49, 161, 49);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: rgba(49,161,49,0.9);
}
.card{
    background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
    padding: 5px;
    box-shadow: 2px 2px 5px hsla(0,0%,0%,0.5);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
}
p{
    font-size: 1.5rem;
    margin: 5px 0;
}
.cityDisplay, .tempDisplay{
      font-size: 3.5rem;
      font-weight: bold;
      color: black;
      margin-bottom: 25px;
}
.humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
}
.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}
.weatherEmoji{
    margin: 0;
    font-size: 7.5rem;
}
.errorDisplay{
    font-style: italic;
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}

@media (max-width:768px) {
body{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 95%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .weatherForm{
    margin: 70px auto;
   
}
.cityInput{
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    width: 70%;
}
button[type="submit"]{
    width: 20%;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 0.5rem;
    background-color: rgb(49, 161, 49);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.card{
    background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
    padding: 3px;
    box-shadow: 2px 2px 5px hsla(0,0%,0%,0.5);
    min-width: 300px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 25px;
}
p{
    font-size: 1rem;
    margin: 5px 0;
}
.cityDisplay, .tempDisplay{
      font-size: 2rem;
      font-weight: bold;
      color: black;
      margin-bottom: 25px;
}
.humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 1.5rem;
}
.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
}
.weatherEmoji{
    margin: 0;
    font-size: 5.5rem;
}
.errorDisplay{
    font-style: italic;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}
}